@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  position: relative;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#excuse {
  font-size: xx-large;
}
